body {
    font-family: Arial, sans-serif;
}

form {
    margin: 0 auto;
    width: 300px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

label {
    margin-top: 1em;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: .5em;
    margin-bottom: .5em;
    border: 1px solid #ccc;
    border-radius: .5em;
}

input[type="submit"] {
    padding: .5em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: .5em;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
